<table class="table">
    <tr>
        <td><h3>Details for {{employee.firstname}} {{employee.lastname}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{employee.email}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{employee.city}}</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>{{employee.position.position}}</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{employee.salary}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{employee.phone}}</td>
    </tr>
    <tr>
        <td>Login</td>
        <td>{{employee.login}}</td>
    </tr>
    <tr>
        <td>Unit</td>
        <td>{{employee.unit}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editEmployee({id:employee.id})">Edit</a>
</div>